<!DOCTYPE html>
<html ng-app="numerosAleatorios">
<head>
<!--
	Equipe:
		Jaimerson Correia
		Victor Assis
		Oziel Senior
                Thiago Vieira de Negreiros
-->
	<meta charset="utf-8">
	<title>Trabalho de Modelagem</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/treinar/treinar.css">
	<script src="lib/angular/angular.js" ></script>
	<script>
		angular.module("numerosAleatorios",[]);
		angular.module("numerosAleatorios").controller("numerosAleatoriosa",function ($scope) {
			$scope.app = "Gerador de Números Aleatórios";
			$scope.quantidades = [];
			x = new Date().getTime();
			$scope.semente = x;

			$scope.geradorAleatorio = function(quantidade) {
				$scope.quantidades.length = 0;
				qtde = quantidade;

				//x = 8;
				//194 pega semente	
				console.log(x);
				for (var j = 0; j < qtde + 1 ; j++) {
					x = (34 * x + 91) % 78;
					//x = (9 * x + 1) % 17;
					//78 é o número máximo dos aleatorio gerados
					$scope.quantidades[j] = [j,x];
					
				}
				console.log(qtde);
				
			}

			
			//$scope.pegarTempo = new Date().getTime();
			$scope.metodo = "Método Congruencial";
		});
	</script>
</head>
	
<body ng-controller="numerosAleatoriosa">
	<div class="jumbotron">
		<h4>{{app}}</h4>
		<h5>{{metodo}}</h5>
		<input class="form-control" type="number" min="0" ng-model="quantidade" placeholder="Digite a quantidade de números deseja gerar!!" />
		<button class="btn btn-primary btn-block" ng-click="geradorAleatorio(quantidade)">Adicionar quantidade</button>

		<hr>
		<table class="table table-striped">
			<tr>
				<th>Ns</th>
				<th>Aleatório</th>
			</tr>
			<tr ng-repeat="quantidade in quantidades">
				<td>{{quantidade[0]}}</td>
				<td>{{quantidade[1]}}</td>
			</tr>
		</table>
		
		
	</div>
	<div class="jumbotron">
		<h4>Equipe:</h4>
		<h6>Jaimerson Correia dos Santos</h6>
		<h6>Victor de Alencar Assis</h6>
		<h6>Oziel Senior Coelho Moraes</h6>
		<h6>Thiago Vieira de Negreiros</h6>
	</div>
</body>
</html>
