<!DOCTYPE html>
<html ng-app="listaTelefonica">
<head>
	<meta charset="utf-8">
	<title>Trabalho de Modelagem</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="lib/treinar/treinar.css">
	<script src="lib/angular/angular.js" ></script>
	<script>
		angular.module("listaTelefonica",[]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl",function ($scope) {
			$scope.app = "Gerador de Números Aleatórios";
			$scope.quantidades = [];

			$scope.geradorAleatorio = function(quantidade) {
				$scope.quantidades.length = 0;
				qtde = quantidade;

				x = new Date().getTime();//194 pega semente	
				for (var j = 0; j < qtde + 1 ; j++) {
					x = (34 * x + 91) % 78;
					//78 é o número máximo dos aleatorio gerados
					$scope.quantidades[j] = [j,x];
					
				}
				console.log(qtde);
			}

			
			$scope.pegarTempo = new Date().getTime();
			$scope.metodo = "Método Congruencial";
		});
	</script>
</head>
	
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h4>{{app}}</h4>
		<h5>{{metodo}}</h5>
		<input class="form-control" type="number" min="0" ng-model="quantidade" placeholder="Nome" />
		<button class="btn btn-primary btn-block" ng-click="geradorAleatorio(quantidade)">Adicionar quantidade</button>

		<hr>
		<table class="table table-striped">
			<tr>
				<th>Ns</th>
				<th>Aleatório</th>
			</tr>
			<tr ng-repeat="quantidade in quantidades">
				<td>{{quantidade[0]}}</td>
				<td>{{quantidade[1]}}</td>
			</tr>
			<tr>
				<td>Semente</td>
				<td>{{pegarTempo}}</td>
			</tr>
		</table>
		
		
	</div>
</body>
</html>